@import '../../../../styles/variables.scss';

.navigationList {
  display: flex;
  flex-direction: column;

  .navigationItem {
    list-style-type: none;

    .navigationItemLink {
      color: $secondary-color;
      text-decoration: none;
    }

    .active {
      color: red;
    }
  }
}
