.dialogsContainer {
	display: flex;
	background: yellowgreen;
	width: 100%;

	.users,
	.messages {
		margin: 10px;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 10px;
	}

	.messageName,
	.messageText {
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;


		.active {
			color: red;
		}

		.messageNameItem {}
	}
}