.UserPhotoContainer{

}
.UserPhoto{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.ButtonContainer{
    width: fit-content;
    padding: 5px 10px;
    background: white;
    border-radius: 12px;
    color: black;
    font-weight: 500;
}