.PostContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;

	.PostUserImg {
		width: 50px;
		border-radius: 50%;
		cursor: pointer;
	}

	.PostUserText {
		color: green
	}


	.ButtonContainer {
		display: flex;
		column-gap: 20px;

		.PostUserLike {
			.PostUserLikeLogo {
				max-width: 25px;
			}
		}

		.PostUserLikeCounter {
			color: yellow;
		}
	}

}